# Ignore files under Code/UnderDev

Code/UnderDev/

# Ignore files under Code/AWS/

Code/AWS/

# Ignore files under __pycache__

__pycache__

# Ignore files under _venv

*_venv
.venv

# Ignore heroku files

runtime.txt
uwsgi.ini
Procfile
