{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "rules": {
      "semi": ["error", "never"],
      "quotes": [2, "single", { "allowTemplateLiterals": true }],
      "lines-around-comment":[
        "error",
        {
          "beforeBlockComment": true,
          "beforeLineComment": true
        }
      ],
      "@typescript-eslint/indent": ["error",2]
    }
}